body {
  background: #191919;
  color: #00bb00;
}
input,
textarea {
  color: #00bb00;
}
.message {
  border-left: 1px solid #040;
}
.refmessage {
  border-left: 1px solid #070;
}
.nick {
  color: #090;
}
.trip {
  color: #070;
}
.text a {
  color: #4f0;
}
.me .nick {
  color: #4d2;
}
.info .nick,
.info .text {
  color: #0b0;
}
.warn .nick,
.warn .text {
  color: #070;
}
#footer {
  background: #191919;
}
#sidebar {
  background: #333;
  border-color: #070;
}
#chatform {
  border-color: #070;
}
button, select {
  color: #050;
}
code {
  color: #ced;
}
